.textInput {
  font-family: "inter" sans-serif;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  box-sizing: border-box;
  background-color: #ded8d2;
}
.textInput:active,
.textInput:focus {
  outline: none;
  background-color: #c8bfb5;
}
.question {
  font-size: 20px;
  font-family: "inter" sans-serif;
}
