@import "./Variables.less";

.bg {
  background-color: @tan;
  padding: 5px;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main {
  border-radius: 10px;
  border: 4px solid black;
  margin: 5px;
  padding: 20px;
  flex-grow: 1;
  flex-direction: row;
  display: flex;
}
.quiz {
  margin-left: 10px;
  padding-left: 10px;
  min-width: 300px;
  border-left: 4px solid black;
}
