.nav {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  max-height: 95vh;
  overflow: auto;
  min-width: 300px;
  max-width: 301px;
}
.nav span {
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}
.nav .link {
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.nav .link:hover {
  background-color: black;
  color: #ded8d2;
}
